/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

.alpha a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}


/* ガターの溝をなくす */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#map {
  height: 650px;
  z-index: 1;
}

/* テーブルのレスポンシブ トップページ */
.col-head-type1 {
  border-collapse: collapse;
  width: 100%;
}

.col-head-type1 th,
.col-head-type1 td {
  border: 1px solid #dbe1e8;
  padding: 8px;
}

.col-head-type1 th {
  background: #f9fafc;
  text-align: left;
  width: 150px;
}

@media only screen and (max-width: 800px) {
  .col-head-type1 tr,
  .col-head-type1 th,
  .col-head-type1 td {
    display: block;
    width: auto;
  }

  .col-head-type1 tr:first-child {
    border-top: 1px solid #dbe1e8;
  }

  .col-head-type1 th,
  .col-head-type1 td {
    border-top: none;
  }
}

/* ボタンキラーン */
.red-shiny a {
/* display: block; */
position: relative;
z-index: 2;
overflow: hidden;
/* width: 100%; */
font-weight: bold ;
border-bottom: solid 5px #f44744 ;
border-radius: 5px;
background-color: #D83331 ;
color: #ffffff !important;
padding: 12px 0;
text-align: center;
text-decoration: none;
transition: .25s linear;
-webkit-transition: .25s linear;
-moz-transition: .25s linear;
}
.red-shiny {
display: block;
width: 100%;
margin-bottom: 1em;
}
.red-shiny a:hover {
-ms-transform: translateY(4px);
-webkit-transform: translateY(4px);
transform: translateY(4px);/*下に動く*/
border-bottom: none;/*線を消す*/
}
.red-shiny a:before {
display: block;
position: absolute;
z-index: -1;
left: -30%;
top: -50%;
content: "";
width: 30px;
height: 100px;
transform: rotate(30deg);
-webkit-transform: rotate(30deg);
-moz-transform: rotate(30deg);
background-image: linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
background-image: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff rgba(255,255,255,1),rgba(255,255,255,0) 100%);
animation: shiny 3s infinite linear;
-webkit-animation: shiny 3s infinite linear;
-moz-animation: shiny 3s infinite linear;
}
@keyframes shiny {
0% { left: -30%; }
20% { left: 120%; }
100% { left: 120%; }
}
@-webkit-keyframes shiny {
0% { left: -30%; }
20% { left: 120%; }
100% { left: 120%; }
}
@-moz-keyframes shiny {
0% { left: -30%; }
20% { left: 120%; }
100% { left: 120%;}
}
